= content_for :css do
  = stylesheet_link_tag 'static_pages' 
 
.jumbotron
  %blockquote
    %em
      Raindrops on roses and whiskers on kittens
      %br
      Bright copper kettles and warm woolen mittens
      %br
      Brown paper packages tied up with strings
      %br
      These are a few of my favorite things
  %h1.display-3
    %strong
      %em
        Coming Soon



