// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  max-width: 46rem;
}

.jumbotron {
  margin-top: 3rem;
  text-align: center;
}
